:root {
  --color-bg-primary: #84a178;
  --primary-text-color: #131313;
  --secondary-text-color: #fcfcfc;
  --white: #fff;
  --black: #000;
  --color-orangeish: #d6936d;
  --color-yellowish: #efd478;
  --color-greenish: #aec6a5;
  --color-time: #907e82;
  --color-copyright: #7a7a7a;
  --color-text-input-bg: #f8d24e1a;

  --default-color: #f8d24e;
  --hover-color: #0a8817;
  --focus-color: #0a8817;
  --disabled-color: #ababab;

  --default-link-color: #f8d24e;
  --hover-link-color: #0a8817;
  --focus-link-color: #fcfcfc;
  --disabledlink--color: #ababab;

  --focus-color: #fcfcfc;

  --fancy-text: "Seymour One", sans-serif;
  --normal-text: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img,
svg {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  color: var(--black);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: var(--normal-text);
}
header {
  background-color: var(--color-bg-primary);
  padding: 12px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 100%;
  max-width: 360px;
  padding-inline: 20px;
  margin: 0 auto;
}
.section {
  padding-block: 60px;
}

.logo {
  height: 44px;
  display: flex;
  align-items: flex-end;
}
.logo svg {
  width: 44px;
  height: 100%;
  fill: var(--default-color);
}
.logo-text {
  text-align: center;
  font-family: var(--fancy-text);
  font-size: 17.687px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.769px;
  margin-left: -14px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--default-color);
}
.menu-toggle {
  background-color: transparent;
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
}
.menu-toggle .bar {
  width: 100%;
  height: 2px;
  background-color: var(--white);
  position: relative;
  border-radius: 2px;
}
.bar:after,
.bar::before {
  content: "";
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  left: 0;
}
.bar::before {
  transform: translateY(-5px);
}
.bar:after {
  transform: translateY(5px);
}
.hero {
  background-color: var(--color-bg-primary);
  padding: 50px 20px 0 20px;
}
h1 {
  font-family: "Seymour One", sans-serif;
  color: var(--secondary-text-color);
  font-size: 26px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  max-width: 250px;
  height: 97px;
}
h1 span {
  font-size: 34px;
  font-style: normal;
  line-height: 96.5%;
  text-transform: uppercase;
}
.hero-usable {
  margin-top: 32px;
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.products-button {
  background-color: transparent;
  border: 2px solid var(--default-color);
  border-radius: 8px;
  width: 108px;
  height: 38px;
  color: var(--black);
  font-size: 12px;
  text-align: center;
}
.hero-link {
  color: var(--default-link-color);
}
.hero img {
  width: 177px;
  height: 217px;
  margin: 0 auto;
}
.section-products {
  background-image: url("/images/Backgroud_mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.section-products h2 {
  font-family: "Seymour One", sans-serif;
  display: block;
  color: #131313;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.section-products h2 span {
  font-family: "Montserrat", sans-serif;
  display: block;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-container .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;

  max-width: 320px;
  width: 100%;
  height: 420px;
  border-radius: 24px;
  position: relative;
  padding-inline: 40px;
  padding-bottom: 16px;
}
.products-container .product img {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
}
.products-container .product .image-mask {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -89px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.products-container .product h3 {
  margin-top: 130px;
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.products-container .product p {
  margin-top: 40px;
  color: #131313;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.56px;
}
.products-container .product svg {
  width: 40px;
  height: 16px;

  margin-top: auto;
}

.products-container .product:nth-of-type(1) {
  background-color: var(--color-greenish);
}
.products-container .product:nth-of-type(2) {
  background-color: var(--color-yellowish);
}
.products-container .product:nth-of-type(3) {
  background-color: var(--color-orangeish);
}
.products-container .product:nth-of-type(1) .image-mask {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7) 0%,
      rgba(156, 190, 143, 0.7) 100%
    ),
    #d9d9d9;
  box-shadow: 0px 5.342193126678467px 20.033222198486328px
    rgba(10, 136, 23, 0.25);
}
.products-container .product:nth-of-type(2) .image-mask {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7) 0%,
      rgba(248, 210, 78, 0.7) 100%
    ),
    #d9d9d9;

  box-shadow: 0px 5.403973579406738px 20.26490020751953px
    rgba(153, 114, 23, 0.25);
}
.products-container .product:nth-of-type(3) .image-mask {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7) 0%,
      rgba(213, 117, 63, 0.7) 100%
    ),
    #d9d9d9;

  box-shadow: 0px 5.413332939147949px 20.299999237060547px rgba(0, 0, 0, 0.25);
}
.section-advantages {
  background-color: var(--color-bg-primary);
}
.section-advantages h2 {
  font-family: "Seymour One", sans-serif;
  display: block;
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.section-advantages h2 span {
  font-family: "Montserrat", sans-serif;
  display: block;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.section-advantages .image-mask {
  display: block;
  margin: 0 auto;
  width: 278px;
  height: 278px;
  margin-top: 32px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7) 0%,
      rgba(248, 210, 78, 0.7) 100%
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.82185px 0px rgba(153, 114, 23, 0.25);
}
.section-advantages img {
  width: 278px;
  height: 278px;
  padding-bottom: 22px;
  transform: translateY(22px);
}
.section-advantages .description-container p {
  color: var(--secondary-text-color);
  font-family: var(--normal-text);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%; /* 21.12px */
  letter-spacing: 0.48px;
}
.section-advantages .description-container {
  width: 220px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.section-advantages button {
  display: block;
  width: 164px;
  height: 42px;
  background-color: var(--default-color);
  color: var(--black);
  border: 0;
  border-radius: 10px;
  text-align: center;
  font-family: var(--normal-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  margin-top: 24px;
  margin-inline: auto;
}
.section-advantages .statistics-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 40px;
  margin-top: 60px;
}
.section-advantages .statistics-container .stat {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-text-color);
  width: 230px;
}
.stat .number {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.stat p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 20.4px */
}

.section-advantages .circle-mask {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--default-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-advantages .circle-mask svg {
  width: 36px;
  height: 36px;
}
.section-opinions {
  background-image: url("/images/Backgroud_mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.section-opinions .main-image {
  width: 280px;
  height: 130px;
  margin-top: -92px;
  margin-inline: auto;
  border-radius: 8px;
}
.section-opinions .person-image {
  margin-top: 80px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-inline: auto;
}
.section-opinions .opinion-text-container {
  background-color: var(--color-bg-primary);
  padding: 35px 39px;
  border-radius: 10px;
}
.section-opinions .opinion-text-container .opinion-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 255%; /* 30.6px */
  color: var(--secondary-text-color);
  text-align: center;
}
.opinion {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.opinion .person-location {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 37.2px */
}
.slider-dots {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.slider-dots .dot {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.slider-dots .dot-active {
  background-color: var(--color-bg-primary);
}
.section-contacts {
  background-color: var(--color-bg-primary);
}
footer {
  background-color: var(--color-bg-primary);
}
footer .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: none;
}
.address-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.address {
  background-color: var(--secondary-text-color);
  /* height: 412px; */
  width: 280px;
  padding: 40px 32px 24px 32px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  font-size: 12px;
}
.address .title {
  display: block;
  width: 80px;
  padding: 4px 22px;
  color: var(--primary-text-color);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  letter-spacing: 0.48px;
  background-color: var(--default-color);
  text-transform: uppercase;
  border-radius: 4px;
}
.address .address-location {
  padding-block: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  border-bottom: 1px solid #e1e1e1;
}
.address-location p {
  font-weight: 500;
  width: 190px;
}
.address-location p:nth-of-type(2) {
  color: #d6936d;
  font-size: 12px;
  font-style: normal;
  line-height: 183%; /* 21.96px */
  letter-spacing: 0.48px;
}
.address .time {
  padding-block: 24px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e1e1e1;
}
.hours {
  color: var(--disabled-color);
}
.address .tele-address {
  padding-top: 24px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 19.2px */
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.address .tele-address a {
  text-decoration: none;
  color: var(--primary-text-color);
}
.our-location-btn,
.franchise-btn {
  width: 196px;
  height: 42px;
  border-radius: 10px;
  border: 0;
  display: block;
  margin: 0 auto;
  color: var(--black);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
}
.our-location-btn {
  background-color: var(--default-color);
  margin-top: 24px;
}
.franchise-btn {
  background-color: transparent;
  border: 2px solid var(--default-color);
  margin-top: 16px;
}
.duplicated-title {
  color: var(--secondary-text-color);
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  width: 200px;
}
.duplicated-title-span {
  color: var(--secondary-text-color);
  display: block;
  width: 232px;
  margin-bottom: 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.social-media {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.circle svg {
  width: 34px;
  height: 34px;
}
.contact-disclaimer {
  margin-top: 20px;
  color: var(--primary-text-color);
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%; /* 22.32px */
}

.contact-disclaimer a {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.copyright {
  margin-top: 60px;
  border-top: 1px solid #e1e1e1;
  padding: 20px;
  text-align: center;
  color: var(--color-copyright);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%; /* 21.28px */
}
